.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .input-cmp {
    width: 80%;
  }
}

.header {
  height: 20%;
  display: flex;
  justify-content: space-between;
  .menu {
    align-self: center;
  }
}
